// =====================================================================
// totem.keymap - Max's Totem Wireless (SEEED XIAO BLE / nRF52840)
// QWERTZ | Mac | Home Row Mods | Tap Dance Copy/Paste + Select-All
// =====================================================================

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

// Layer IDs
#define BASE 0
#define NAV  1
#define SYM  2
#define ADJ  3

/ {

    // ==================================================================
    // BEHAVIORS
    // ==================================================================
    behaviors {

        // Tap Dance: 1x = CMD+C, 2x = CMD+V
        td_copy_paste: tap_dance_copy_paste {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LG(C)>, <&kp LG(V)>;
        };

        // Mod-Morph: normal = Tap Dance, Shift = CMD+A dann CMD+C
        td_or_select: td_or_select {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&td_copy_paste>, <&select_all_copy>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // Mod-Morph: , / ;
        comma_semi: comma_semicolon {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp SEMICOLON>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // Mod-Morph: . / :
        dot_colon: dot_colon {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp COLON>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // Mod-Morph: - / _
        minus_under: minus_underscore {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp MINUS>, <&kp UNDERSCORE>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // Mod-Morph: ä / Ä
        ae_morph: ae_morph {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&ae_lower>, <&ae_upper>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // Mod-Morph: ö / Ö
        oe_morph: oe_morph {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&oe_lower>, <&oe_upper>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // Mod-Morph: ü / Ü
        ue_morph: ue_morph {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&ue_lower>, <&ue_upper>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    // ==================================================================
    // MACROS
    // ==================================================================
    macros {

        // CMD+A dann CMD+C (Alles markieren + kopieren)
        select_all_copy: select_all_copy {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp LG(A)>, <&kp LG(C)>;
        };

        ae_lower: ae_lower {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings
                = <&macro_press &kp LALT>
                , <&macro_tap &kp KP_N1 &kp KP_N3 &kp KP_N2>
                , <&macro_release &kp LALT>;
        };

        ae_upper: ae_upper {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings
                = <&macro_press &kp LALT>
                , <&macro_tap &kp KP_N1 &kp KP_N4 &kp KP_N2>
                , <&macro_release &kp LALT>;
        };

        oe_lower: oe_lower {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings
                = <&macro_press &kp LALT>
                , <&macro_tap &kp KP_N1 &kp KP_N4 &kp KP_N8>
                , <&macro_release &kp LALT>;
        };

        oe_upper: oe_upper {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings
                = <&macro_press &kp LALT>
                , <&macro_tap &kp KP_N1 &kp KP_N5 &kp KP_N3>
                , <&macro_release &kp LALT>;
        };

        ue_lower: ue_lower {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings
                = <&macro_press &kp LALT>
                , <&macro_tap &kp KP_N1 &kp KP_N2 &kp KP_N9>
                , <&macro_release &kp LALT>;
        };

        ue_upper: ue_upper {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings
                = <&macro_press &kp LALT>
                , <&macro_tap &kp KP_N1 &kp KP_N5 &kp KP_N4>
                , <&macro_release &kp LALT>;
        };

        sz: sz {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings
                = <&macro_press &kp LALT>
                , <&macro_tap &kp KP_N2 &kp KP_N2 &kp KP_N5>
                , <&macro_release &kp LALT>;
        };

        gif: gif {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp LS(N2) &kp G &kp I &kp F>;
        };
    };

    // ==================================================================
    // COMBOS
    // Key positions (Totem 38-key, zero-indexed):
    //   Row1:  0  1  2  3  4  |  5  6  7  8  9
    //   Row2: 10 11 12 13 14  | 15 16 17 18 19
    //   Row3: 20 21 22 23 24 25 | 26 27 28 29 30 31
    //   Thumb:      32 33 34  | 35 36 37
    // ==================================================================
    combos {
        compatible = "zmk,combos";

        conditional_layers {
            compatible = "zmk,conditional-layers";
            adj_layer {
                if-layers = <NAV SYM>;
                then-layer = <ADJ>;
            };
        };

        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };

        combo_ae {
            timeout-ms = <50>;
            key-positions = <10 11>;
            bindings = <&ae_morph>;
        };

        combo_sz {
            timeout-ms = <50>;
            key-positions = <11 12>;
            bindings = <&sz>;
        };

        combo_ue {
            timeout-ms = <50>;
            key-positions = <6 7>;
            bindings = <&ue_morph>;
        };

        combo_oe {
            timeout-ms = <50>;
            key-positions = <7 8>;
            bindings = <&oe_morph>;
        };
    };

    // ==================================================================
    // KEYMAP
    // ==================================================================
    keymap {
        compatible = "zmk,keymap";

        // ---------------------------------------------------------------
        // BASE LAYER (0)
        // ---------------------------------------------------------------
        base_layer {
            label = "BASE";
            bindings = <
                        &kp Q       &kp W       &kp E       &kp R       &kp T           &kp Z       &kp U       &kp I       &kp O       &kp P
                        &kp A       &mt LCTRL S &mt LALT D  &mt LGUI F  &kp G           &kp H       &mt RGUI J  &mt RALT K  &mt RCTRL L &trans
            &kp LSHFT   &kp Y       &kp X       &kp C       &kp V       &kp B           &kp N       &kp M       &comma_semi &dot_colon  &minus_under &kp RSHFT
                                                &kp TAB     &td_or_select &lt NAV SPACE  &lt SYM RET &kp BSPC    &kp DEL
            >;
        };

        // ---------------------------------------------------------------
        // NAV LAYER (1)
        // ---------------------------------------------------------------
        nav_layer {
            label = "NAV";
            bindings = <
                        &trans          &kp LC(LA(D))    &kp LC(LA(UP))   &kp LC(LA(T))    &trans          &kp LC(LA(LG(LEFT))) &kp LC(LA(LG(DOWN))) &kp LC(LA(LG(UP))) &kp LC(LA(LG(RIGHT))) &kp LC(LEFT)
                        &trans          &kp LC(LA(X))    &kp LC(LA(RET))  &kp LC(LA(Z))    &trans          &kp LEFT             &kp DOWN             &kp UP             &kp RIGHT             &kp LC(RIGHT)
            &trans      &kp LC(LA(E))   &kp LC(LA(DOWN)) &kp LC(LA(G))    &trans           &trans          &trans               &trans               &trans             &trans                &kp LC(UP)    &trans
                                                         &trans           &trans           &trans          &trans               &trans               &trans
            >;
        };

        // ---------------------------------------------------------------
        // SYM LAYER (2)
        // ---------------------------------------------------------------
        sym_layer {
            label = "SYM";
            bindings = <
                        &kp CARET   &kp TILDE   &kp SQT     &kp DQT     &kp PLUS        &kp LPAR    &kp RPAR    &kp AMPS    &kp STAR    &kp UNDER
                        &kp GRAVE   &kp AT      &kp HASH    &kp PRCNT   &kp EQUAL       &kp LBRC    &kp RBRC    &kp FSLH    &kp PIPE    &trans
            &trans      &kp N4      &kp DLLR    &kp BSLH    &kp EXCL    &kp QMARK       &kp LBKT    &kp RBKT    &trans      &trans      &trans      &trans
                                                &trans      &trans      &trans          &trans      &kp LT      &kp GT
            >;
        };

        // ---------------------------------------------------------------
        // ADJ LAYER (3)
        // Links: Bluetooth + Media + Screenshot
        // Rechts: Numpad
        // ---------------------------------------------------------------
        adj_layer {
            label = "ADJ";
            bindings = <
                        &bt BT_CLR  &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3    &out OUT_TOG    &kp KP_N7   &kp KP_N8   &kp KP_N9   &kp KP_MINUS
                        &trans      &kp C_VOL_DN    &kp LG(LS(N4))  &kp C_VOL_UP    &kp C_MUTE      &trans          &kp KP_N4   &kp KP_N5   &kp KP_N6   &kp KP_PLUS
            &trans      &trans      &kp C_PREV      &kp C_PP        &kp C_NEXT      &trans          &trans          &kp KP_N1   &kp KP_N2   &kp KP_N3   &kp KP_DOT  &trans
                                                    &trans          &trans          &trans          &trans          &kp KP_N0   &kp KP_ENTER
            >;
        };
    };
};
// =====================================================================
// totem.keymap - Max's Totem Wireless (SEEED XIAO BLE / nRF52840)
// QWERTZ | Mac | Home Row Mods | Tap Dance Copy/Paste + Select-All
// =====================================================================

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

// Layer IDs
#define BASE 0
#define NAV  1
#define SYM  2
#define ADJ  3

/ {

    // ==================================================================
    // BEHAVIORS
    // ==================================================================
    behaviors {

        // Tap Dance: 1x = CMD+C, 2x = CMD+V
        td_copy_paste: tap_dance_copy_paste {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LG(C)>, <&kp LG(V)>;
        };

        // Mod-Morph: normal = Tap Dance, Shift = CMD+A dann CMD+C
        td_or_select: td_or_select {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&td_copy_paste>, <&select_all_copy>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // Mod-Morph: , / ;
        comma_semi: comma_semicolon {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp SEMICOLON>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // Mod-Morph: . / :
        dot_colon: dot_colon {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp COLON>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // Mod-Morph: - / _
        minus_under: minus_underscore {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp MINUS>, <&kp UNDERSCORE>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // Mod-Morph: ä / Ä
        ae_morph: ae_morph {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&ae_lower>, <&ae_upper>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // Mod-Morph: ö / Ö
        oe_morph: oe_morph {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&oe_lower>, <&oe_upper>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // Mod-Morph: ü / Ü
        ue_morph: ue_morph {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&ue_lower>, <&ue_upper>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    // ==================================================================
    // MACROS
    // ==================================================================
    macros {

        // CMD+A dann CMD+C (Alles markieren + kopieren)
        select_all_copy: select_all_copy {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp LG(A)>, <&kp LG(C)>;
        };

        ae_lower: ae_lower {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings
                = <&macro_press &kp LALT>
                , <&macro_tap &kp KP_N1 &kp KP_N3 &kp KP_N2>
                , <&macro_release &kp LALT>;
        };

        ae_upper: ae_upper {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings
                = <&macro_press &kp LALT>
                , <&macro_tap &kp KP_N1 &kp KP_N4 &kp KP_N2>
                , <&macro_release &kp LALT>;
        };

        oe_lower: oe_lower {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings
                = <&macro_press &kp LALT>
                , <&macro_tap &kp KP_N1 &kp KP_N4 &kp KP_N8>
                , <&macro_release &kp LALT>;
        };

        oe_upper: oe_upper {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings
                = <&macro_press &kp LALT>
                , <&macro_tap &kp KP_N1 &kp KP_N5 &kp KP_N3>
                , <&macro_release &kp LALT>;
        };

        ue_lower: ue_lower {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings
                = <&macro_press &kp LALT>
                , <&macro_tap &kp KP_N1 &kp KP_N2 &kp KP_N9>
                , <&macro_release &kp LALT>;
        };

        ue_upper: ue_upper {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings
                = <&macro_press &kp LALT>
                , <&macro_tap &kp KP_N1 &kp KP_N5 &kp KP_N4>
                , <&macro_release &kp LALT>;
        };

        sz: sz {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings
                = <&macro_press &kp LALT>
                , <&macro_tap &kp KP_N2 &kp KP_N2 &kp KP_N5>
                , <&macro_release &kp LALT>;
        };

        gif: gif {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp LS(N2) &kp G &kp I &kp F>;
        };
    };

    // ==================================================================
    // COMBOS
    // Key positions (Totem 38-key, zero-indexed):
    //   Row1:  0  1  2  3  4  |  5  6  7  8  9
    //   Row2: 10 11 12 13 14  | 15 16 17 18 19
    //   Row3: 20 21 22 23 24 25 | 26 27 28 29 30 31
    //   Thumb:      32 33 34  | 35 36 37
    // ==================================================================
    combos {
        compatible = "zmk,combos";

        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };

        combo_ae {
            timeout-ms = <50>;
            key-positions = <10 11>;
            bindings = <&ae_morph>;
        };

        combo_sz {
            timeout-ms = <50>;
            key-positions = <11 12>;
            bindings = <&sz>;
        };

        combo_ue {
            timeout-ms = <50>;
            key-positions = <6 7>;
            bindings = <&ue_morph>;
        };

        combo_oe {
            timeout-ms = <50>;
            key-positions = <7 8>;
            bindings = <&oe_morph>;
        };
    };

    // ==================================================================
    // KEYMAP
    // ==================================================================
    keymap {
        compatible = "zmk,keymap";

        // ---------------------------------------------------------------
        // BASE LAYER (0)
        // ---------------------------------------------------------------
        base_layer {
            label = "BASE";
            bindings = <
                        &kp Q       &kp W       &kp E       &kp R       &kp T           &kp Z       &kp U       &kp I       &kp O       &kp P
                        &kp A       &mt LCTRL S &mt LALT D  &mt LGUI F  &kp G           &kp H       &mt RGUI J  &mt RALT K  &mt RCTRL L &trans
            &kp LSHFT   &kp Y       &kp X       &kp C       &kp V       &kp B           &kp N       &kp M       &comma_semi &dot_colon  &minus_under &kp RSHFT
                                                &kp TAB     &td_or_select &lt NAV SPACE  &lt SYM RET &kp BSPC    &kp DEL
            >;
        };

        // ---------------------------------------------------------------
        // NAV LAYER (1)
        // ---------------------------------------------------------------
        nav_layer {
            label = "NAV";
            bindings = <
                        &trans          &kp LC(LA(D))    &kp LC(LA(UP))   &kp LC(LA(T))    &trans          &kp LC(LA(LG(LEFT))) &kp LC(LA(LG(DOWN))) &kp LC(LA(LG(UP))) &kp LC(LA(LG(RIGHT))) &kp LC(LEFT)
                        &trans          &kp LC(LA(X))    &kp LC(LA(RET))  &kp LC(LA(Z))    &trans          &kp LEFT             &kp DOWN             &kp UP             &kp RIGHT             &kp LC(RIGHT)
            &trans      &kp LC(LA(E))   &kp LC(LA(DOWN)) &kp LC(LA(G))    &trans           &trans          &trans               &trans               &trans             &trans                &kp LC(UP)    &trans
                                                         &trans           &trans           &trans          &trans               &trans               &trans
            >;
        };

        // ---------------------------------------------------------------
        // SYM LAYER (2)
        // ---------------------------------------------------------------
        sym_layer {
            label = "SYM";
            bindings = <
                        &kp CARET   &kp TILDE   &kp SQT     &kp DQT     &kp PLUS        &kp LPAR    &kp RPAR    &kp AMPS    &kp STAR    &kp UNDER
                        &kp GRAVE   &kp AT      &kp HASH    &kp PRCNT   &kp EQUAL       &kp LBRC    &kp RBRC    &kp FSLH    &kp PIPE    &trans
            &trans      &kp N4      &kp DLLR    &kp BSLH    &kp EXCL    &kp QMARK       &kp LBKT    &kp RBKT    &trans      &trans      &trans      &trans
                                                &trans      &trans      &trans          &trans      &kp LT      &kp GT
            >;
        };

        // ---------------------------------------------------------------
        // ADJ LAYER (3)
        // Links: Bluetooth + Media + Screenshot
        // Rechts: Numpad
        // ---------------------------------------------------------------
        adj_layer {
            label = "ADJ";
            bindings = <
                        &bt BT_CLR  &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3    &out OUT_TOG    &kp KP_N7   &kp KP_N8   &kp KP_N9   &kp KP_MINUS
                        &trans      &kp C_VOL_DN    &kp LG(LS(N4))  &kp C_VOL_UP    &kp C_MUTE      &trans          &kp KP_N4   &kp KP_N5   &kp KP_N6   &kp KP_PLUS
            &trans      &trans      &kp C_PREV      &kp C_PP        &kp C_NEXT      &trans          &trans          &kp KP_N1   &kp KP_N2   &kp KP_N3   &kp KP_DOT  &trans
                                                    &trans          &trans          &trans          &trans          &kp KP_N0   &kp KP_ENTER
            >;
        };
    };
};
